<section class="table-view">

  {% if table_header %}
    <header class="table-view_header {% if table_tabs %} table-view_header_has-tabs {% endif %}">
    {% if table_name %}
      <h1 class="heading">
        {{ table_name }}
      </h1>
    {% endif %}
    <div class="table-view_header_controls {% if not table_name %} table-view_header_controls-labeless {% endif %}">
      <form class="table-view_header_search">
        <input type="text" placeholder="Search">
        <button>
        </button>
      </form>
      <div class="table-view_header_actions">
        <a href="#" class="button button-icon button-filter">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.2 38.4"><path d="M1.5 6.9H8c.7 2.3 2.7 3.9 5.2 3.9s4.5-1.7 5.2-3.9h20.3c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5H18.3C17.7 1.7 15.6 0 13.1 0S8.6 1.7 8 3.9H1.5C.7 3.9 0 4.6 0 5.4s.7 1.5 1.5 1.5zm9.2-1.5c0-1.3 1.1-2.4 2.4-2.4 1.3 0 2.4 1.1 2.4 2.4s-1.1 2.4-2.4 2.4c-1.3 0-2.4-1.1-2.4-2.4zm28 26.1H18.3c-.7-2.3-2.7-3.9-5.2-3.9S8.6 29.2 8 31.5H1.5c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5H8c.7 2.3 2.7 3.9 5.2 3.9s4.5-1.7 5.2-3.9h20.3c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5zM15.5 33c0 1.3-1.1 2.4-2.4 2.4-1.3 0-2.4-1.1-2.4-2.4s1.1-2.4 2.4-2.4c1.4 0 2.4 1.1 2.4 2.4zm23.2-15.3h-6.5c-.7-2.3-2.7-3.9-5.2-3.9s-4.5 1.7-5.2 3.9H1.5c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h20.3c.7 2.3 2.7 3.9 5.2 3.9s4.5-1.7 5.2-3.9h6.5c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5zm-9.3 1.5c0 1.3-1.1 2.4-2.4 2.4-1.3 0-2.4-1.1-2.4-2.4s1.1-2.4 2.4-2.4c1.4 0 2.4 1.1 2.4 2.4z"/></svg>
        </a>
        <a href="#" class="button button-action">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 292.6H292.6V512h-73.1V292.6H0v-73.1h219.4V0h73.1v219.4H512v73.2z"/></svg>
          Add
        </a>
      </div>
    </div>
  </header>
  {% endif %}

  {% if table_tabs %}

    <nav class="table-view_tabs">
      {% for item in table_tabs %}
        <a href="#" class="table-view_tabs-item {{ item.status }} {{ loop.index0 }}">
          {{ item.label }}
          {% if item.count %}
            <span class="count">
              ({{ item.count }})
            </span>
          {% endif %}
        </a>
      {% endfor %}
    </nav>

    <div class="table-view_content table-view_tabs-content">
      <!-- Optional labels for table  -->
      {% if table_labels %}
        <div class="table-view_content_labels">
          {% for item in table_labels %}
            <div class="table-view_content_labels-item {{ item.label }}">
              {% if item.label %}
                <span class="label">{{ item.label }}</span>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if table_content %}
        <div class="table-view_container">

          <!-- Returning all actual content available -->
          {% for items in table_content %}
            <div class="table-view_content_wrapper {{ loop.index0 }}">

              <div class="table-view_content_tab-title">
                <h2 class="label">{{ items.table_name }}</h2>
              </div>

              {% for item in items.inner_table_content %}
                {% for item in item %}
                  <div class="table-view_content-item">
                    {% for item in item %}
                      <div class="{{ table_labels[loop.index0].label }}">
                      {% if item.link %}
                        <a href="{{ item.link }}">
                          {{ item.text }}
                        </a>
                      {% else %}
                        {{ item.text }}
                      {% endif %}
                    </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              {% endfor %}

              <div class="table-view_content-item table-view_content-item_filler">
                {% for item in items.inner_table_content|first %}
                  {% for item in item %}
                    <div class="{{ table_labels[loop.index0].label }}" ></div>
                  {% endfor %}
                {% endfor %}
              </div>

            </div>
          {% endfor %}

          <!-- Returning a single item from the content table, in order to add a final filler row void of content -->

        </div>
      {% endif %}
    </div>
  {% else %}

    <div class="table-view_content">
      <!-- Optional labels for table  -->
      {% if table_labels %}
        <div class="table-view_content_labels">
          {% for item in table_labels %}
            <div class="table-view_content_labels-item {{ item.label }}">
              {% if item.label %}
                <span class="label">{{ item.label }}</span>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if table_content %}
        <div class="table-view_content_wrapper">

          <!-- Returning all actual content available -->
          {% for items in table_content %}
            <div class="table-view_content-item">
                {% for item in items %}
                  {% for item in item %}
                    <div class="{{ table_labels[loop.index0].label }}">
                      {% if item.link %}
                        <a href="{{ item.link }}">
                          {{ item.text }}
                        </a>
                      {% else %}
                        {{ item.text }}
                      {% endif %}
                    </div>
                  {% endfor %}
                {% endfor %}
            </div>
          {% endfor %}
          <!-- Returning a single item from the content table, in order to add a final filler row void of content -->
          <div class="table-view_content-item table-view_content-item_filler">
          {% for items in table_content|first %}
            {% for item in items %}
              <div class="{{ table_labels[loop.index0].label }}"></div>
            {% endfor %}
          {% endfor %}

      </div>
      {% endif %}
    </div>

  {% endif %}

</section>
