$black: #1a2830;
$white: #fff;
$offwhite: #f4f4f4;

$darkest: #18252d;
$darker: #1b2a33;
$dark: #1e2e38;
$dark-l: #223540;

$grey-b: #404d56;
$grey-d: #333;
$grey: #777777;
$grey-l: #fafafa;
$grey-l_alt: #f3f3f3;

$alerts: #ff8989;

$main:#2e4756;
$main-d: #2a404e;
$main-l: #39505f;


$secondary:#4eb1c5;
$secondary-l: lighten($secondary, 5%);
$secondary-d: darken($secondary, 5%);
