.filter{
  display: inline-flex;
  align-items: flex-start;
  padding: 1rem 4rem 1rem 2rem;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $boxshadow;
  margin-bottom: 2.5rem;
  position: relative;
  font-size: 1.4rem;
  transition: $dt;
  .label{
    margin-right: .5rem;
  }
  &-options{
    height: 2.2rem;
    overflow: hidden;
  }
  &:after{
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: calc(50% - .75rem);
    right: 1.5rem;
    background-image: url(../resources/dropdown_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: .25;
    transition: $dt;
  }
  &:hover{
    box-shadow: $boxshadow-h;
    cursor: pointer;
    .filter-options{
      color: $secondary;
    }
    &:after{
      opacity: .5;
    }
  }
  @include breakpoint(960px) {
    margin-left: 1.5rem;
  }
  @include breakpoint(740px) {
    margin: 1.5rem;
    padding: 1.5rem 4rem 1.5rem 2rem;
    width: calc(100% - 3rem);
  }
}
