.graphs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  &-item{
    width: calc(33.33333% - 3.3333rem);
    background-color: $white;
    box-shadow: $boxshadow;
    border-radius: 5px;
    transition: $dt;
    cursor: pointer;
    &_data{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1.5rem;
      .label{
        font-size: 1.4rem;
        font-weight: 400;
      }
      &-d3{
        padding-bottom: 2rem;
        img{
          width: 100%;
        }
      }
    }
    &_stats{
      display: flex;
      width: 100%;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      &-item{
        width: 33.3333333%;
        text-align: center;
        background-color: $grey-l;
        padding: 1rem;
        transition: $dt;
        .count{
          font-size: 1.8rem;
          color: $grey-d;
          font-weight: 600;
          transition: $dt;
        }
        .label{
          font-size: 1.4rem;
          color: $grey;
          font-weight: 400;
          transition: $dt;
        }
        &:nth-of-type(2){
          border-left: 2px solid $grey-l_alt;
          border-right: 2px solid $grey-l_alt;
        }
      }
    }
    &:hover{
      box-shadow: $boxshadow-h;
    }
    @include breakpoint(960px) {
      width: calc(33.333333% - 1.5rem);
    }
  }
  @include breakpoint(960px) {
    margin: 0 1.5rem 5rem;
  }
  @include breakpoint(740px) {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 4rem;
    &-item{
      width: calc(50% - 3rem);
      margin: 1.5rem;
    }
  }
  @include breakpoint(600px) {
    &-item{
      width: 100%;
      & + .graphs-item{
        margin-top: 1.5rem;
      }
    }
  }
}
