.global-header{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: $dark;
  height: 8.5rem;
  border-bottom: 2px solid $darker;
  box-shadow: 2px 0 3px rgba(0,0,0,0.5);
  transition: $dt;
  &_wrapper{
    display: flex;
    align-items: stretch;
    width: 100%;
    transition: $dt;
    transform: translateX(0);
  }
  &_logo{
    width: 27rem;
    text-align: center;
    border-right: 2px solid $darker;
    a{
      display: block;
      height: 8.5rem;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: $dt;
      &:hover{
        background-color: lighten($dark, 2.5%);
      }
    }
    img{
      width: 4rem;
    }
    @include breakpoint(1250px) {
      width: 8.5rem;
    }
    @include breakpoint(960px) {
      width: 5.5rem;
      border: none;
      a{
        height: 5.5rem;
      }
      img{
        width: 3rem;
      }
    }
  }
  &_alerts{
    border-right: 2px solid $darker;
    position: relative;
    transition: $dt;
    a{
      display: block;
      width: 8.5rem;
      height: 8.5rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    svg{
      display: block;
      width: 3rem;
      height: 3rem;
      fill: $white;
    }
    &-count{
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      height: 2rem;
      width: 2rem;
      border: 2px solid $white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      font-size: 1rem;
      line-height: 1;
      color: $white;
      background-color: $alerts;
    }
    &:hover{
      background-color: lighten($dark, 2.5%);
    }
    @include breakpoint(960px) {
      display: none;
    }
  }
  &_nav{
    width: calc(100% - 62.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid $darker;
    form{
      padding-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      input{
        height: 4rem;
        width: 4rem;
        padding: 0 2rem;
        border-radius: 10rem;
        width: 25rem;
        background-color: transparent;
        border: 2px solid $grey-b;
        color: $white;
        font-family: $sans;
        font-weight: 300;
      }
      button{
        border: none;
        appearance: none;
        border-radius: 100%;
        height: 4rem;
        width: 4rem;
        background-color: $white;
        padding: 0;
        background-image: url(../resources/icon_search.svg);
        background-size: 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: -4rem;
      }
      @include breakpoint(960px) {
        width: 0px;
        overflow: hidden;
        padding: 0;
      }
    }
    @include breakpoint(1250px) {
      width: calc(100% - 17rem);
    }
    @include breakpoint(960px) {
      width: auto;
      height: 5.5rem;
      border-left: 2px solid $darker;
      &-search{
        width: 5.5rem;
        background-image: url(../resources/icon_search-white.svg);
        background-size: 2rem;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }
  }
  &_account{
    width: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $dt;
    &-dropdown{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 2rem;
      position: relative;
      &:after{
        content: "";
        height: 1.5rem;
        width: 1rem;
        position: absolute;
        right: 0;
        top: calc(50% - .5rem);
        background-image: url(../resources/dropdown.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &-image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 4rem;
      width: 4rem;
      border-radius: 100%;
    }
    &-name{
      color: $white;
      margin-left: 2rem
    }
    &:hover{
      background-color: lighten($dark, 2.5%);
    }
    @include breakpoint(1250px) {
      display: none;
    }
    @include breakpoint(960px) {
      display: none;
    }
  }
  &_mobile-trigger{
    a{
      width: 8.5rem;
      height: 8.5rem;
      display: block;
      position: relative;
      border-right: 2px solid $darker;
      &:after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../resources/mobile-trigger.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.2rem;
        transition: $dt;
      }
      &:before{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../resources/icon_close-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.2rem;
        opacity: 0;
        transition: $dt;
      }
      &:hover{
        background-color: $dark-l;
      }
      @include breakpoint(960px) {
        width: 5.5rem;
        height: 5.5rem;
      }
    }
    &.open{
      a:after{
        opacity: 0;
      }
      a:before{
        opacity: 1;
      }
    }
  }
  &.open{
    @include breakpoint(740px) {
      background-color: $darkest;
      .global-header_wrapper{
        transform: translateX(calc(100% - 5.5rem));
      }
    }
  }
  @include breakpoint(960px) {
    height: 5.5rem;
    &_wrapper{
      align-items: center;
      justify-content: space-between;
    }
  }
}
