.sidenav{
  width: 27rem;
  display: flex;
  flex-direction: column;
  padding-top: 8.5rem;
  background-color: $main;
  min-height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transition: $dt;
  &-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 5rem;
    background-color: $main;
    transition: $dt;
    &_icon{
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 2.5rem;
      opacity: .75;
    }
    &_label{
      color: $offwhite;
      font-weight: 100;
    }
    &:hover{
      background-color: $main-l;
    }
    & + .sidenav-item{
      border-top: 2px solid $main-d;
    }
    &.active{
      background-color: $secondary;
      .sidenav-item_icon{
        opacity: 1;
      }
      .sidenav-item_label{
        color: $white;
      }
    }
    @include breakpoint(740px) {
      padding: 1rem;
      &_icon{
        height: 2rem;
        width: 2rem;
        margin-left: .5rem;
        margin-right: 2.25rem;
      }
    }
  }
  &_account{
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    transition: $dt;
    border-bottom: 2px solid $main-d;
    &-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-right: 2rem;
      position: relative;
      padding: 2.5rem 5rem;
      width: 100%;
      &:after{
        content: "";
        height: 1.5rem;
        width: 1rem;
        position: absolute;
        right: 5rem;
        top: calc(50% - .5rem);
        background-image: url(../resources/dropdown.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &-image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 4rem;
      width: 4rem;
      border-radius: 100%;
    }
    &-name{
      color: $white;
      margin-left: 2rem
    }
    &:hover{
      background-color: lighten($dark, 2.5%);
    }
    @include breakpoint(1250px) {
      display: flex;
    }
    @include breakpoint(740px) {
      background-color: $dark;
      border-color: $darker;
      &-image{
        height: 3rem;
        width: 3rem;
      }
      &-container{
        padding: 1rem;
        height: 5.3rem;
      }
    }
  }
  &_logout.button.hollow{
    font-size: 1.6rem;
    margin: 2rem;
    border: 2px solid #97a3ab;
    color: $white;
    text-transform: capitalize;
    font-weight: 300;
    padding: 1rem;
    line-height: 1;
    border-radius: 10rem;
    display: none;
    @include breakpoint(740px) {
      display: block;
    }
  }
  @include breakpoint(1250px) {
    margin-left: -27rem;
    &.open{
      margin-left: 0;
      box-shadow: $boxshadow;
    }
  }
  @include breakpoint(960px) {
    padding-top: 5.5rem;
  }
  @include breakpoint(740px) {
    width: calc(100% - 5.5rem);
    margin-left: -100%;
    padding-top: 0;
    z-index: 101;
    overflow: auto;
    max-height: 100vh;
  }
}
