.table-view{
  box-shadow: $boxshadow;
  &_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: $white;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid $grey-l_alt;
    input{
      font-size: 1.4rem;
      padding: 1rem 2.5rem;
      line-height: 1;
      border: 2px solid $offwhite;
      border-radius: 5px;
      font-family: $sans;
      color: $grey;
      &::placeholder{
        color: #bbbbbb;
      }
      &:focus{
        border: 2px solid $offwhite;
      }
    }
    button{
      background-color: $grey-l;
      border: 2px solid $offwhite;
      padding: 0;
      display: block;
    }
    .button{
      &-action{
        padding: 0 4rem 0 2rem;
        color: $white;
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: 300;
        border: none;
        svg{
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 3rem;
          fill:$white;
        }
        &:hover{
          background-color: $secondary-l;
        }
      }
      &-icon{
        background-color: $grey-l;
        border: 2px solid $offwhite;
        svg{
          fill: $grey;
        }
        &:hover{
          background-color: $offwhite;
        }
      }
      &-filter{
        margin: 0 3rem;
      }
    }
    .heading{
      font-size: 2rem;
      margin: 0;
    }
    &_controls{
      display: flex;
      &-labeless{
        width: 100%;
        justify-content: space-between;
        .table-view_header_actions{
          width: 100%;
          justify-content: space-between;
        }
      }
    }
    &_search{
      display: flex;
      justify-content: center;
      position: relative;
      input{
        padding-right: 5.5rem;
      }
      button{
        display: block;
        width: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 5rem;
        border-radius: 0 5px 5px 0;
        background-image: url(../resources/icon_search-grey.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2rem;
        &:hover{
          background-color: $offwhite;
        }
      }
    }
    &_actions{
      display: flex;
      justify-content: center;
      @include breakpoint(960px) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        box-shadow: $boxshadow;
        z-index: 98;
        .button{
          margin: 0;
          width: 50%;
          border: none;
          border-radius: 0px;
          min-height: 6rem;
          font-size: 1.6rem;
          font-family: $sans;
          font-weight: 300;
          &-filter{
            svg{
              fill: $white;
            }
            &:after{
              content: "Filter";
              text-transform: capitalize;
              margin-left: 3rem;
            }
          }
          &:first-of-type{
            background-color: $dark;
            color: $white;
            &:hover{
              background-color: $dark-l;
            }
          }
        }
      }
    }
    @include breakpoint(1250px) {
      padding: 2rem 3rem;
    }
    @include breakpoint(960px) {
      border-radius: 0px;
      flex-direction: column;
      align-items: flex-start;
      .table-view_header_search{
        display: none;
      }
      &_has-tabs{
        padding: 0;
        margin: 0;
        border: none;
      }
    }

  }
  &_tabs{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2rem 1rem 0;
    background-color: $grey-l;
    border-bottom: 2px solid $grey-l_alt;
    &-item{
      background-color: $white;
      display: block;
      padding: 2rem;
      text-align: center;
      border-radius: 5px 5px 0 0;
      border: 2px solid $grey-l_alt;
      border-bottom: none;
      font-size: 1.4rem;
      font-weight: 400;
      transition: $dt;
      color: $grey;
      width: calc(20% - 3rem);
      .count{
        font-weight: 300;
        margin-left: .5rem;
      }
      &:hover{
        color: $grey;
        padding-bottom: 3rem;
        margin-top: -1rem;
      }
      &.active{
        color: $white;
        background-color: $secondary;
        border-color: $secondary;
        pointer-events: none;
        &:hover{
          color: $white;
          padding-bottom: 2rem;
          margin-top: 0;
        }
      }
      @include breakpoint(1450px) {
        font-size: 1.2rem;
      }
      @include breakpoint(960px) {
        width: auto;
      }
    }
    &-content{
      overflow: hidden;
      width: 100%;
      position: relative;
    }
    @include breakpoint(740px) {
      display: none;
    }
  }
  &_content{
    &_labels{
      display: flex;
      justify-content: space-between;
      &-item{
        width: 100%;
        font-size: 1.2rem;
        position: relative;
        font-weight: 400;
        cursor: pointer;
        text-transform: capitalize;
        background-color: $grey-l;
        .label{
          width: 100%;
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          transition: $dt;
          background-color: $grey-l;
          padding: .75rem 5rem;
          &:after{
            content: "";
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            background-image: url(../resources/dropdown_dark.svg);
            background-position: center;
            background-repeat: no-repeat;
            opacity: .25;
            transition: $dt;
          }
          @include breakpoint(1450px) {
            padding: .75rem 2.5rem;
          }
        }
        & + .table-view_content_labels-item{
          border-left: 2px solid $grey-l_alt;
        }
        &.other{
          min-width: 25rem;
        }
        &:hover{
          .label{
            color: $secondary;
            background-color: $grey-l_alt;
            &:after{
              opacity: .5;
            }
          }
        }
      }
      @include breakpoint(960px) {
        display: none;
      }
    }
    &_wrapper{
      display: block;
      max-height: 1000rem;
      transition: .25s all ease;
      &.collapsed{
        max-height: 7.5rem!important;
        overflow: hidden;
        .label:after{
          transform: rotate(0);
        }
      }
      @include breakpoint(960px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 7.5rem;
      }
      @include breakpoint(740px) {
        padding-bottom: 2.5rem;
      }
    }
    &-item{
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: $dt;
      background-color: $white;
      div{
        width: 100%;
        padding: .75rem 5rem;
        font-size: 1.4rem;
        a{
          color: $secondary;
          &:hover{
            text-decoration: underline;
          }
        }
        & + div{
          border-left: 2px solid $grey-l_alt;
        }
        &.other{
          min-width: 25rem;
        }
        @include breakpoint(1450px) {
          font-size: 1.2rem;
          padding: .75rem 2.5rem;
        }
      }
      &:hover{
        background-color: $grey-l;
      }
      &_filler{
        border-radius: 0 0 5px 5px;
        min-height: 5rem;
        padding: 0;
        &:hover{
          background-color: $white;
        }
        @include breakpoint(960px) {
          display: none;
        }
      }
      @include breakpoint(960px) {
        width: calc(50% - 3rem);
        margin: 1.5rem;
        flex-wrap: wrap;
        box-shadow: $boxshadow;
        border-radius: 5px;
        div{
          padding: 0 2.5rem;
          width: 100%;
          font-size: 1.4rem;
          &:first-of-type{
            padding: 1.5rem 2rem;
            order: 1;
            width: calc(100% - 12.5rem);
            border-bottom: 2px solid $grey-l;
          }
          &:last-of-type{
            order: 2;
            width: 12.5rem;
            padding: 1.5rem 2rem;
            background-color: $secondary;
            border-radius: 0 5px 0 0;
            text-align: center;
            a{
              color: $white;
            }
            &:hover{
              background-color: $secondary-l;
              a{
                text-decoration: none;
              }
            }
          }
          &:nth-of-type(2){
            padding: 2.5rem 2.5rem 0;
          }
          &:nth-last-of-type(2){
            padding: 0 2.5rem 2.5rem;
          }
        }
        div + div{
          border: none;
          order:3;
        }
        &:hover{
          background-color: $white;
        }
      }
      @include breakpoint(740px) {
        width: calc(100% - 3rem);
        div{
          &:first-of-type, &:last-of-type{
            font-size: 1.6rem;
          }
        }
      }
    }
    &_tab-title{
      display: none;
      @include breakpoint(740px) {
        display: block;
        padding: 2rem 5rem;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 400;
        background-color: $white;
        box-shadow: $boxshadow;
        width: 100%;
        cursor: pointer;
        transition: $dt;
        .label{
          margin: 0;
          width: 100%;
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:after{
            content: "";
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            background-image: url(../resources/dropdown_dark.svg);
            background-position: center;
            background-repeat: no-repeat;
            opacity: .25;
            transform: rotate(180deg);
            transition: $dt;
          }
        }
        &:hover{
          box-shadow: $boxshadow-h;
          .label:after{
            opacity: .5;
          }
        }
      }
    }
  }
  &_container{
    display: flex;
    transition: .5s all ease-in-out;
    @include breakpoint(740px) {
      flex-direction: column;
    }
  }
  @include breakpoint(740px) {
    box-shadow: none;
    padding-bottom: 7.5rem;
  }
}
