.template-directory{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  main{
    padding: 0;
  }
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    min-height: 50vh;
  }
  &_logo{
    background-color: $main;
  }
  &_links{
    background-color: $secondary;
    a{
      color: $white;
    }
  }
}
