<nav class="sidenav">
  <div class="sidenav_wrapper">
  <div class="sidenav_account">
    <a href="#" class="sidenav_account-container">
      <div class="sidenav_account-image" style="background-image:url(assets/resources/person.png);"></div>
      <div class="sidenav_account-name">
        {{ account_name }}
      </div>
    </a>
  </div>
  {% for item in sidenav_sections %}
      <a class="sidenav-item {{ item.state }}" href="#">
        <img class="sidenav-item_icon" src="{{ item.icon }}" alt="{{ item.label }}">
        <span class="sidenav-item_label">{{ item.label }}</span>
      </a>
  {% endfor %}
  <a href="#" class="button hollow sidenav_logout">Log Out</a>
  </div>
</nav>
