<section class="graphs">
  {% for item in graphs %}
    <article class="graphs-item">
      <div class="graphs-item_data">
        <h2 class="label">{{ item.label }}</h2>
        <div class="graphs-item_data-d3">
          <img src="assets/resources/graph.png">
        </div>
      </div>
      <div class="graphs-item_stats">
        {% for item in item.stats %}
          <div class="graphs-item_stats-item">
            <p class="count">{{ item.count }}</p>
            <p class="label">{{ item.label }}</p>
          </div>
        {% endfor %}
      </div>
    </article>
  {% endfor %}
</section>
