{% extends "markup/layout.twig" %}

{% block main %}
  <main>

    {% include "markup/components/filter/filter.twig" %}

    {% include "markup/components/graphs/graphs.twig" %}

    {% include "markup/components/table-view/table-view.twig" %}

  </main>
{% endblock main %}
