<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/application.css" />
</head>
<body class="{{ template_classes }}">
    {% if header %}
        {% include "markup/components/header/header.twig" %}
    {% endif %}

    {% if sidenav %}
      {% include "markup/components/sidenav/sidenav.twig" %}
    {% endif %}

    {% block main %}{% endblock main %}

    <script src="/assets/js/application-vendor.js"></script>
    <script src="/assets/js/application.js"></script>
</body>
</html>
