// Default heading styles

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

%h1 { font-size: $h1; line-height: 1.2;  letter-spacing: -.1rem;}
%h2 { font-size: $h2; line-height: 1.25; letter-spacing: -.1rem; }
%h3 { font-size: $h3; line-height: 1.3;  letter-spacing: -.1rem; }
%h4 { font-size: $h4; line-height: 1.35; letter-spacing: -.08rem; }
%h5 { font-size: $h5; line-height: 1.5;  letter-spacing: -.05rem; }
%h6 { font-size: $h6; line-height: 1.6;  letter-spacing: 0; }

@media (min-width: 550px) {
  %h1 { font-size: 5.0rem; }
  %h2 { font-size: 4.2rem; }
  %h3 { font-size: 3.6rem; }
  %h4 { font-size: 3.0rem; }
  %h5 { font-size: 2.4rem; }
  %h6 { font-size: 1.5rem; }
}

// Body text styling

html{
  font-family: $sans;
  text-rendering: optimizeLegibility;
  color: #777777;
}

%p {
  margin-top: 0;
  max-width: 80rem;
  margin-bottom: 0;
  &:last-of-type{
    margin-bottom: 2rem;
  }
  & + p{
    margin-top: 1rem;
  }
}

b, strong{
  font-weight: 700;
}

i{
  font-style: italic;
}

%blockquote{
  max-width: 80rem;
  padding: 1rem;
  background-color: $grey-l;
  border-radius: 3px;
  &:before{
      color: $grey;
      content: '\201C';
      font-weight: 900;
      font-size: 2.5rem;
      display: inline-block;
      height: 1rem;
      margin-top: -1rem;
    }
    &:after{
      color: $grey;
      content: '\201C';
      transform: scaleX(-1) scaleY(-1);
      font-weight: 900;
      font-size: 2.5rem;
      display: inline-block;
      height: 1rem;
      margin-top: -1rem;
      position: relative;
      bottom: -2rem;
    }
}

// Link styling

a {
  color: $main;
  text-decoration: none;
}

a:hover {
  color: $secondary;
}


// List Styling

%ul {
  list-style: circle inside; }
%ol {
  list-style: decimal inside; }
%ol, %ul {
  padding-left: 0;
  margin-top: 0; }
%ul %ul,
%ul %ol,
%ol %ol,
%ol %ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
%li {
  margin-bottom: 1rem; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  font-family: $sans;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
