// Default button styling

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  color: $white;
  background-color: $secondary;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid $main;
  cursor: pointer;
  outline: 0;
  border-radius: 4px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: $dt;

  &:hover{
    color: $white;
    background-color: $secondary;
    border: 1px solid $secondary;
  }

  &:active{
    color: $white;
    background-color: $main;
    border: 1px solid $main;
    transform: translateY(3px);
    &:hover{
      color: $white;
      background-color: $main;
      border: 1px solid $main;
    }
  }

  &.button-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.7rem;
    padding: 0;
    svg{
      height: 2rem;
      width: 2rem;
    }
  }

  &.hollow{
    color: $main;
    background-color: transparent;

    &:hover{
      color: $white;
      background-color: transparentize($main, .5);
    }

    &:focus{
      color: $white;
      background-color: transparentize($main, .5);
      transform: translateY(3px);
    }
  }

  &.disabled{
    opacity: .5;
    &:hover{
      color: $white;
      background-color: $main;
      border: 1px solid $main;
    }
  }

}


.arrow{
  text-indent: -9999px;
  position: relative;
  &:after{
    top: 0;
    left: 0;
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../img/sprite.stack.svg#arrow");
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.prev{
    &:after{
      transform: rotate(180deg);
    }
  }
}
