main{
  display: block;
  min-height: 100vh;
  padding: 12rem 5rem 5rem 32rem;
  background-color: $offwhite;
  transition: $dt;
  &:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($dark, .5);
    z-index: -1;
    opacity: 0;
    transition: $dt;
  }
  @include breakpoint(1250px) {
    padding-left: 5rem;
  }
  @include breakpoint(960px) {
    padding: 7rem 0 0;
  }
  @include breakpoint(740px) {
    &.open-sidenav{
      &:before{
        opacity: 1;
        z-index: 98;
      }
    }
  }
}
