<footer class="global">
    <h4>{{ heading }}</h4>
    <ul>
        {% for link in links %}
            {% include "markup/components/link/link.twig" with link %}
        {% endfor %}
    </ul>
</footer>
