<header class="global-header">
  <div class="global-header_wrapper">
    <div class="global-header_mobile-trigger">
      <a href="#">
      </a>
    </div>
    <div class="global-header_logo">
      <a href="#">
        <img src="assets/resources/logo.svg">
      </a>
    </div>
    <div class="global-header_alerts">
      <a href="#">
        <span class="global-header_alerts-count">{{ alerts_count }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.2 28.8"><path d="M12 24.4H9.2c-.2.4-.3.8-.3 1.3 0 1.7 1.4 3.1 3.1 3.1 1.7 0 3.1-1.4 3.1-3.1 0-.5-.1-.9-.3-1.3H12zm10.8-4.8c-2.3-1.5-2.3-7.8-2.3-7.8-.2-3.8-2.4-7-5.4-8.2 0-.2.1-.3.1-.5 0-1.7-1.4-3.1-3.1-3.1S9 1.4 9 3.1c0 .2 0 .3.1.5-3 1.3-5.2 4.4-5.4 8.2 0 0 0 6.3-2.3 7.8-.1 0-1.4.7-1.4 1.8 0 .9.9 1.6 2 1.9h20.2c1.2-.3 2-1 2-1.9 0-1.2-1.3-1.8-1.4-1.8z"/></svg>
      </a>
    </div>
    <div class="global-header_nav">
      <nav class="global-header_nav-breadcrumbs">

      </nav>
      <div class="global-header_nav-search">
        <form>
          <input type="text" placeholder="Search">
          <button></button>
        </form>
      </div>
    </div>
    <div class="global-header_account">
      <a href="#" class="global-header_account-dropdown">
        <div class="global-header_account-image" style="background-image:url(assets/resources/person.png);"></div>
        <div class="global-header_account-name">
          {{ account_name }}
        </div>
      </a>
    </div>
  </div>
</header>
