<div class="filter">
  <p class="label">Filter By</p>
  <div class="filter-options">
    <div class="filter-options_item">
      Region
    </div>
    <div class="filter-options_item">
      Cost
    </div>
    <div class="filter-options_item">
      Age
    </div>
  </div>
</div>
