{% extends "../../../layout.twig" %}

{% block main %}
    <main>
      <div class="template-directory_logo">
        <img src="assets/resources/logo.svg" alt="">
      </div>
      <div class="template-directory_links">
          {% for page in pages %}
              <a class="button" href="{{ page.href }}">{{ page.label }}</a>
          {% endfor %}
      </div>
    </main>
{% endblock main %}
